:root {
    --primary: #3674B5;
} 

.top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-link:hover
{

    background-color: darkcyan;
}
.btn-light {
    background-color: #fff;
    border-color: #dee2e6;
    color: #212529;
}

.bg-primary, .btn-primary {
    background-color: var(--primary) !important;
}

.navbar-brand {
    color: var(--primary);
}

.btn-light i {
    color: var(--primary);
}


.img-wrap {
    position: relative;
    padding: 1rem;
}

.img-wrap span {
    position: absolute;
    top: 10px;
    right: 10px;
}

.info-wrap {
    padding: 1rem 1.2rem;
}

.info-wrap .title {
    display: block;
    text-decoration: none;
    color: #51585e;
}


.img-wrap {
    height: 240px;
    text-align: center;
}

.img-wrap img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.breadcrumb a {
    color: #fff;
    opacity: .9;
}

.breadcrumb .breadcrumb-item {
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

/* gallery */
.gallery-wrap .img-big-wrap {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    text-align: center;
}

.gallery-wrap .img-big-wrap img {
    max-width: 100%;
}

.gallery-wrap .thumbs-wrap {
    text-align: center;
}



.gallery-wrap .thumbs-wrap a {
    width: 60px;
    height: 60px;
    border: 1px solid #dde2e6;
    border-radius: .4rem;
    margin: 3px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .thumbs-wrap img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}

.checked {
    color: orange;
}



 /* button */
.top-bar .btn {
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.top-bar .btn:hover {
    transform: scale(1.02); /* Buton büyüklüğü */
    color: #212529 !important; /* İç ikon veya yazı rengi */
}



 .btn-outline-warning:hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.navbar-brand{
    font-family: "Noto Sans",sans-serif;
    background-image: url("https://media.istockphoto.com/id/1577713699/tr/foto%C4%9Fraf/holi-background.jpg?s=1024x1024&w=is&k=20&c=0sUYonRoA_BB6urNNm94h0deHjpydHSL2-B868QOkko=");
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite;
}
@keyframes animate { 


    to {
        background-position-x: -500px;
    }
}


